{{!HEADER}}
<div class="preprint-header"> {{!HEADER}}
    <div class="container"> {{!CONTAINER}}
        <div class="row">{{!HEADER ROW}}
            {{!TITLE}}
            <div class="text-center m-t-lg col-xs-12">
                <div class="preprint-brand"></div>
                <p class="lead">{{t "index.header.title.paragraph"}}</p>
            </div>
            {{!SEARCH}}
            <div class="preprint-search col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 m-v-lg" >
                {{search-preprints search="search"}}

                {{#if sharePreprintsTotal}}
                    <p class="p-l-md">
                        <span class="f-w-lg">{{t "index.header.search" count=sharePreprintsTotal}}</span>
                        <span>{{t "index.header.as_of"}} {{moment-format currentDate "MMMM DD, YYYY"}}</span>
                    </p>
                {{/if}}
            </div>
        </div> {{!END ROW}}
        <div class="row">
            <div class="text-center col-xs-12">
                <p class="lead"> or </p>
                {{#link-to (if brand "provider.submit" "submit") type="button" class="btn btn-success btn-lg" invokeAction=(action "click" "link" "Index - Add preprint")}}{{t "global.add_preprint"}}{{/link-to}}
                <div class="m-t-md">{{#link-to 'content' 'khbvy' invokeAction=(action "click" "link" "Index - See example")}}{{t "index.header.example"}}{{/link-to}}</div>

            </div>
        </div>
    </div> {{!END CONTAINER}}
</div> {{!END HEADER}}

{{!SUBJECTS}}
<div class="preprint-subjects p-v-md"> {{!SUBJECTS LIST}}
    <div class="container"> {{!CONTAINER DIV}}
        <div class="row p-v-md">{{!SUBJECTS ROW}}
            <div class="col-xs-12">
                <h2>{{t "index.subjects.heading"}}</h2>
                <div class="subjectsList p-lg"> {{!SUBJECTS LIST}}
                    {{taxonomy-top-list list=model}}
                </div> {{!END SUBJECTS LIST}}
            </div>
        </div>{{!END ROW}}
    </div> {{!END CONTAINER}}
</div> {{!END SUBJECTS LIST}}